* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;

}

:root {
    --lead: #212121;
    --gold-color: #F2BD12;
    --eye-ball: #FFFDF7;
    --hint-yello: ##FCF1CC;
    --pure-white: #FFF;
}

body {
    width: 100%;
    background-color: var(--eye-ball);
}

/*1........header part style added.......*/
/*nav ba basic style addedr*/
a {

    text-decoration: none;
    font-size: 1.1rem;
    color: var(--lead);
}

ul li {
    list-style: none;
}

ul {
    gap: 3rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.wrapper {
    max-width: 1400px;

    margin: auto;
    padding-inline: 1.5rem;
}



/*nav bar main style addedr*/
.navbox {
    min-height: 15vh;
    margin-left: 15px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-color);
}

.navlist {
    margin-left: 10%;
}

.btn {
    display: inline-block;
    padding: .7rem 2rem;
    background: var(--gold-color);
    border-radius: 1.5rem;
    font-size:1.1rem;/*1.5 to 1rem used*/
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: .3s ease-in-out;


}

.btn:hover {
    background: var(--lead);
}

#destop-action {
    gap: 1rem;
    margin-left: 100px;

}


#shopbag {

    font-size: 1.3rem;
    position: relative;
    left: 50px;

}


#cardval {
    position: absolute;
    right: -4px;
    top: 50%;

    font-size: .85rem;
    width: 17px;
    border-radius: 100vw;
    background: var(--gold-color);
    color: var(--lead);
    text-align: center;
    line-height: 20px;
}

#menu {
    font-size: 1.5rem;
    display: none;


}

/*mobile menu style added*/
.mobile-menu {
    display: none;
}

#navsignbtn {
    margin-left: 80px;

}

/*...header part style added.......*/
/*2........section part style added......*/
.hero-page {

    min-height: calc(100vh - 15vh);
    /*14vh*/
}

.btnc {
    display: inline-block;
    padding: .6rem 2rem;
    background: var(--gold-color);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: .3s ease-in-out;
    margin: 0.5px;




}

.btnc:hover {
    background: var(--lead);
}

.main-img {
    background-color: #f1bf28;
    position: relative;
    width: 340px;
    margin: 35px auto;
    border-radius: 32%;
    height: 291px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin-bottom: 10rem;
    margin-left: 13px;




}

.main-img::before {

    position: absolute;
    width: 290px;
    height: 234px;
    background: radial-gradient(circle,
            rgba(255, 204, 0, 0.35) 0%,
            rgba(255, 204, 0, 0.18) 40%,
            rgba(255, 204, 0, 0.08) 60%,
            transparent 75%);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(18px);
    opacity: 0.9;
    z-index: 1;
}

.main-img img {
    position: relative;
    bottom: 46px;
    right: 63px;
    height: 337px;


}

.hero-page {
    width: 400px;

    margin-left: 12%;
}

.CONTENT {
    font-size: larger;
    row-gap: 0.1rem;
    margin-right: 60px;
    margin-bottom: 9rem;
}

.cp {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    color: var(--lead);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.CONTENT h1 {
    font-size: 3.8vw;
}

.CONTENT span {
    color: var(--gold-color);
}

.cp {
    font-size: 1.11rem;
    line-height: 1.7rem;
    margin-block: 0.4rem;
}

.sic {
    margin-top: 3px;

}

.social-icon {
    font-size: 0.7rem;
    background-color: rgb(245, 245, 148);
    width: 4px;
    padding: 3px;
    border-radius: 8px;
    border: 0.1px solid rgb(114, 114, 114);
    margin-left: 4px;
    text-align: center;
    line-height: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.social-icon:hover {
   background-color:var(--lead);
   color:white;
}

/*some  delivery detail img section->section 2 */

.dds,
h4,
h2 {
    text-align: center;

}

.dds,
h2 {
    color: var(--lead);
    font-size: 2rem;

}

h4 {
    font-size: 1.0rem;
    letter-spacing: .0.9rem;
    color: var(--gold-color);
    text-transform: uppercase;
}

.carditems,
h3,
.csp {
    text-align: center;
}

.dds {
    margin-bottom: 5px;

}

.carditems,
h3 {
    font-size: 3;
}

.cardsection {
    position: relative;
    bottom: 87px;

}

.carditems {

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    position: relative;
    margin-top: 20px;
}

.Pcontent {
    position: relative;
    bottom: 20px;
}
.csp{
    opacity:0.7;
    padding:4px;
}

/*some  delivery detail img section->section 2 */
/* product display section */
.top {
    margin-top: 48px;
}

.Pcontent h4 {
    color: var(--gold-color);
    text-align: center;
    font-size: 1.0rem;

}

.card-img h5,
h5 {
    font-size: 19px;
    margin-bottom: 10px;

}

.order-card {
    text-align: center;
}

.btns {
    display: inline-block;
    padding: 10px;
    background: var(--gold-color);
    border-radius: 9rem;
    /*7rem*/
    width: 117px;
    font-size: 1.0rem;
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: .3s ease-in-out;



}

.btns:hover {
    background-color: var(--lead);
}

.order-card {
    flex: 0.1;
    /*1*/
    height: 260px;
    flex-basis: 100px;
    /*300*/
    background-color: white;
    border: .1rem solid var(--gold-color);
    border-radius: 2rem;
    /* 2 rem*/
    padding: 31px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;



}

.pcard1 {
    margin-top: 0.9%;
    gap: 1px;
    display: flex;
    justify-content: space-evenly;
}

.bpr {
    font-size: medium;
    color: var(--gold-color);
}

/* review section in page*/
.reviewmenimg img {
    position: relative;
    width:440px;
    height:450px;
    margin-left:5px;
    position: relative;
    left:19%;

}

.reviewmencontent h5 {
    color: var(--gold-color);
    text-align: center;
    font-size: 1.1rem;
    position: relative;
    right: 30%;



}

.reviewmencontent h2 {
    color: var(--lead);
    font-size: 2.2rem;
}

.reviewmencontent {
    position: relative;
    right: 47%;
    


}

.swiper{
      width: 100%;
      height: 100%;
}
#customerBox{
    width:450px;
    text-align: center;
    background:var(--eye-ball);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    position: relative;
    right:19%;
    top:60px;
    

}
.review {
    display: none;
}
.active{
    display:block;
}
.stars {
    color: gold;
    font-size: 20px;
    margin: 10px 0;
}
button {
    margin: 10px;
    padding: 5px 15px;
}
.review img{
    width:100px;
    height:90px;
    border-radius:50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.leftside{
    background:var(--lead);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(237, 231, 211, 0.4);
    position: relative;
    left:57px;

}
.rigthside{
    background:var(--lead);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(237, 231, 211, 0.4);
    position: relative;
    left:18px;
    

}
.leftside:hover{
    background: #d0c9c9;
    color: #0e0c0a;
    border: 2px solid rgb(237, 210, 57);/*#ffeaaa*/
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}
.rigthside:hover{
    
    background: #d0c9c9;
    color: #0e0c0a;
    border: 2px solid rgb(237, 210, 57);
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);

}
.leftside:active {
    transform: scale(0.95);
}
#customerBox p{
    padding-bottom:10px;
}
.reviewmencontent{
    position: relative;
    left:3%;
    bottom:140px;
    
}
.lefts{
    position: relative;
    right:180px;
    bottom:110px;
    border-radius:50%;
    border:none;
    cursor: pointer;
   
    
}
.rights{
    position: relative;
    left:102px;
    bottom:110px;
    border-radius:50%;
    border:none;
    cursor: pointer;
    
    
}
/* app-section style add*/
.app-container{
    background:#fce9b9;/*rgba(240, 240, 158, 0.962)*/
    margin-top:80px;
    display: flex ;
    justify-content: center;
    align-items: center;
    padding:50px;
    width:1100px;
    border-radius:60px;
    height:380px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}
.app-img img{
    width:280px;
    height:450px;
    padding-top:45px;
    padding-right:20px;
    
   
}

.app-h5{
    color:rgb(240, 172, 46); 
    position: relative;
    top:5px;
    left:37px;
}
.app-h2{
    position: relative;
    left:5%;
}
.app-pre{
    position: relative;
    left:14%;
    gap:8px;
    top:5px;
    opacity:0.7;
    padding:5px;
   
}
#app-btns{
    background-color:var(--gold-color);
    color:white;
    border-radius:45px;
    padding:10px;
    cursor: pointer;
    width:120px;
    border:none;
    margin-left:13%;
    position: relative;
    top:5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#app-btns:hover{
    background-color:var(--lead);   
}
.app-container{
    gap:20px;
    row-gap:10px;
}
.app-img{
    width: 250px;
    height:400px;
    border-radius: 30px;
    overflow: hidden;
    background-color:#fce9b9;/*#f4d895*/
    position: relative;
    right:20px;
   
    animation: float 4s ease-in-out infinite;
    transition: 0.4s;
}
.app-img img{
    width:100%;
    height:350px;
    object-fit: cover;
    transition: transform 0.5s ease;

}
.app-img:hover{
    transform: scale(1.05);
    box-shadow: 
    0 30px 60px rgba(0,0,0,0.5),
    0 0 25px rgba(255,215,0,0.6);
}
.app-img:hover img{
    transform: scale(1.1);

}
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
.a1{
    /*background-color:gold;
    width:20px;
    padding:5px;
    border-radius:3px;*/
    font-size: 0.7rem;
    background-color: rgb(245, 245, 148);
    width:23px;
    padding: 3px;
    border-radius: 8px;
    border: 0.1px solid rgb(114, 114, 114);
    margin-left: 4px;
    text-align: center;
    line-height: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.a1 i{
    color:var(--lead);
    font-size:17px;
}
.a2{
    /*background-color:gold;
    width:20px;
    padding:5px;
    border-radius:3px;*/
    font-size: 0.7rem;
    background-color: rgb(245, 245, 148);
    width:23px;
    padding:3px;
    border-radius: 8px;
    border: 0.1px solid rgb(114, 114, 114);
    margin-left: 4px;
    text-align: center;
    line-height: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.a2 i{
    color:var(--lead);
    font-size:17px;
}
.a-icon{
    display: flex;
    gap:10px;
    position:relative;
    left:47px;
    top:10px;
    padding:5px;
    
}
#gf{
    font-size:14px;
}
.app-content{
    gap:30%;
}
.ccc{
    position: relative;
    right:36px;
    opacity:0.8;
}
.ddd{
    position: relative;
    right:9px;
    opacity:0.8;
}























/*2........section part style added......*/
/*3........footer part style added......*/
/*3........footer part style added......*/



































































































































































































/*............Media querys added project.............*/
@media screen and (max-width:780px) {

    .navlist {
        display: none;
    }

    #navsignbtn {
        display: none;
    }

    #menu {
        display: block;
        position: relative;
        left: 16%;


    }

    #shopbag {
        position: relative;
        left: 10%;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: 45%;
        left: -100%;
        /*left:23%;*/
        transform: translateY(-50%);
        width: 18rem;
        padding: 2rem;
        background: var(--pure-white);
        border: .1rem solid var(--gold-color);
        box-shadow: 0px 4px 16px rgba(17, 17, 26, 0.1), 0px 8px 24px rgba(17, 17, 26, 0.1), 0px 16px 56px rgba(17, 17, 26, 0.1);
        transition: all .5s ease-in-out;
    }

    .mobile-menu-active {
        left: 23%;
        transform: translateX(-50%);

    }

    .btnc {
        width: 100px;
        height: 35px;
        padding: 5px;
        text-align: center;
        border-radius: 6px;
    }

    .CONTENT h1 {
        font-size: 2.0rem;

    }

    .CONTENT p {
        font-size: .8rem;
    }

    .CONTENT {
        position: relative;
        right: 18px;

    }

    .sic {
        position: relative;
        margin-top: 3px;
    }

    .main-img {
        width: 120px;
        height: 159px;
        position: relative;
        right: 79px;
        margin-left: 22px;
        margin-right: 28px;
        border-radius: 25px;


    }

    .main-img img {
        width: 210px;
        height: 205px;
        margin-left: 20px;

    }

    .social-icon {
        font-size: 0.6rem;
    }

    .cp {
        margin-block: 0.2rem;
    }

    /*section 2 media query*/
    .carditems {
        flex-wrap: wrap;
        gap: 8px;
        padding: 6px;
        padding-bottom: 10px;
    }

    .cardsection {
        position: relative;
        bottom: 125px;
        row-gap: 40px;
    }
    .reviewmenimg img{
        display: none;
    }
    .review img{
        display: none;
    }
    .reviewmencontent h2{
        display: none;
    }
    .reviewsection{
        width:350px;
        margin-left:10px;
        position: relative;
        bottom:30px;
        height:100px;
       

    }
    .rigthside,.leftside{
        display: none;

    }
    .app-container{
        position: relative;
        top:110px;
    }
   
  
  
    

}